.filme-principal {
  background: linear-gradient(#1414141a, #141414f8 100%),
    url(../img/capa-house.jpg);
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.titulo {
  max-width: 300px;
  margin: 30px;
}
.descricao {
  color: var(--cor-0);
}

.filme-principal .descricao {
  margin: 0px 30px 80px 40px;
}

.filme-principal .botao {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 1.275em;
  font-weight: bold;
  color: var(--cor-0);
  background: var(--cor-3);
  border: none;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.3s;
}
.filme-principal .player {
  background: var(--cor-0);
  color: var(--cor-2);
}

.filme-principal .botao:hover {
  background: var(--cor-4);
}
.filme-principal .player:hover {
  background: var(--cor-5);
}

.botoes {
  margin: 0 40px;
}
.botao i {
  margin-right: 10px;
}
.container {
  margin-left: 10px;
}
.box-filme{
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-filmes h3{
  margin: 10px 10px 30px 30px;
  font-size: 1.4rem;
  color: var(--cor-0);
}


@media(max-width: 630px){
  .filme-principal .botao{
     margin-top: 15px;
     font-size: 1rem;
    }
    .carrosel-filmes h3{
      font-size: 1;

     }
}

