*,
ul,
li,
a,
body {
  text-decoration: none;
  list-style: none;
  font-style: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: var(--cor-2);
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


